.card {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 90%;
  margin: 26px auto;
  max-height: 180px !important;
}

.card-container {
  background-color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

h4.card-title {
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

}

.card-img {
  border-radius: 0 5px 5px 0;
  flex: 0 0 30%;
  img {
    width: auto;
    max-height: 174px;
    max-width: 200px;
    border-radius: 10px;
    margin: 8px 8px;
    @media screen and (max-width: 768px) {
      max-height: 90px;
    }
  }
}

p.card-text {
  width: 100%;
  text-align: justify;
  padding: 10px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.card-body {
  flex: 0 0 70%;

  /*width: 50%;
  height: 100%;*/
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  border-color: blue;
  border-radius: 5px 0 0 5px;
}

