.floating-component {
  position: fixed;
  right: 15px;
  bottom: 76px;
  width: 380px;
  height: 400px;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #fff;
  border-radius: 5px;
  z-index: 9999;
}

.assistant-container {
  background-color: white;
  border-radius: 50px 50px 50px 50px;
  padding: 6px 6px;
  box-shadow: 0px 0px 14px 4px black;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9998;
}

.assistant-container:hover {
  box-shadow: 0px 0px 14px 4px blue;
  transform: scale(1.05);
}

.assistant-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.chat-box {
  width: 90%;
  height: 100%;
  margin: 20px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  padding: 6px 6px;
  box-shadow: 0px 0px 14px 4px black;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  padding: 4px 4px 4px 4px;
}

.chat-exit {
  position: absolute;
  top: 4px;
  left: 4px;
}

.chat-exit-btn {
  border-radius: 50px 50px 50px 50px;
  background-color: rgba(255,255,255, .2);
  color: red;
  transition: all 0.1s ease-in-out;
  border: none;
  scale: .9;
}
.chat-exit-btn:hover {
  background-color: rgba(255,0,127, .8);
  color: white;
}

.chat-message {
  color: gray !important;
  margin: 10px 10px 10px 10px;
}

.chat-input {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: auto auto;
  background-color: rgba(255,255,255, .5);
  padding: 10px 10px 10px 10px;
}

.chat-input > input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-left: 15px;
  height: 35px;
}

.chat-input > button {
  width: 10%;
  height: 35px;
}