.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'RecklessNeue';
  src: url('../public/assets/RecklessNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/assets/GothamSSm-Book_Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../public/assets/GothamBold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'GothamBold';
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}


.title-container {
  margin-left: 40px;
  margin-top: 70px !important;

  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.profile-img-container {
  width: 65px;
  height: 65px;
  margin-right: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid red;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: 0 0 10px red;
  img {
    top: 0;
    border-radius: 50%;
    scale: 0.99;
    width: 100%;
    height: 100%;
  }
}

.status-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;

}

.status-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
}

h2, h3 {
  font-weight: bold;
  font-family: 'RecklessNeue';
  text-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

p {
  font-family: 'Gotham';
}

.grow {
  scale: 1 !important;
  cursor: pointer;
  transition: all 0.4s ease-in-out !important;
}
.grow:hover {
  cursor: pointer;
  scale: 1.08 !important;
  transition: all 0.2s ease-in-out !important;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.shadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    scale: 1.03;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}