.login-container {
  display: flex !important;
  flex-direction: column!important;
  flex-wrap: nowrap!important;
}

.main-logo {
  width: 100%;
  max-width: 205px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.login-title {
  margin: auto !important;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.login-container .login-form {
  display: flex !important;
  flex-direction: column!important;
  flex-wrap: nowrap!important;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 22px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 5rem;

  input {
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid;
    border-color: #d6d7d6;
    border-radius: 22px;
    padding: 8px;
  }
}

.login-btn {
  width: 100%;
  background-color: #eb002a !important;
}

h1 {
  margin-top: 40px !important;
  margin-bottom: 60px !important;
  text-shadow: none;
}